/*
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto; }



a {
  color: #008cba;
  text-decoration: none;
  line-height: inherit; }

p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-top:5px;
  margin-bottom: 10px;
  font-size: 14px;
}


hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  height: 0; }

.list_collection{
  float:left;
}

.list_collection{
  float:left;
  padding-left:5px;
  padding-right:5px;
  border-right: 1px solid #dddddd;
  }

.header{
  border-bottom: 1px solid #dddddd;
  margin:0px;
}

.key{
  color:red;
}

.dict_list_key, 
.dict_dict_list_key, 
.dict_str_key{
  margin-left:10px;
}
.dict_dict_list_key{
  color:green;
}
.dict_list_key{
  color:green;
}
.dict_str_key{
  color:red;
}

.col_count{
  color:red;
  float:right;
  margin-right:5px;
}

.title_dashboard{
  float:left;
}
.form{
  float:right;
}

.documents{
  margin-left: 280px;
}
.list_documents_line{
  border: 1px solid black;
}*/

.form-signin{
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading{
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.user_alert{
  max-width: 300px;
  margin: 0 auto 20px;
}
.span2 blockquote .text-info{
  margin-top:5px;
}

.logout{
  margin-top: 9px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/*
.span5 .pagination{
  padding:50px;
}
*/

.show-documents{
  width: 500px;
}
.container-fluid{
  min-width: 1200px;
}

.str-list{
  margin-left:20px;
}

.str-list-item{
  margin-left:40px;
}