{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" type="text/css" href="{% static '../static/css/styles.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '../static/css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '../static/css/bootstrap.min.css' %}">
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('.dict_dict_list_dict_key').hide();
				$('.dict_dict').click(function(){
					$(this).next().slideToggle();
				});
			});
		</script>
		<style>
		body{
			padding-top: 60px;
		}
		</style>
	</head>
	<body>
		{% include 'header.html' %}
		<div class="container-fluid">
			<div class="row-fluid">
				{% block configuration %}
					{% if collections %}
						<div class="span3">
							{% include 'list_collections.html' %}
						</div>
						<div class="span9">
							{% block documents %}
							{% endblock %}
						</div>
					{% endif %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>